.hero-carousel {
 display:flex;
  position: relative;
  min-width: 1222px;
  width: 100%;
  height: 500px; /* Adjust height */
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 10px;
}

.hero-slide-split {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-left{
  width:auto;
  position: relative;
  overflow: hidden;
}

.hero-right {
  flex: auto;
  position: relative;
  overflow: hidden;
}

.hero-poster {
  width: 333px;
  height: 500px;
  
  border-radius: 16px;
}

.hero-trailer {
  border-left: 1px solid rgba(255,255,255,0.2);
  width:888px;
  height:500px;
  border-radius: 16px;
}

.hero-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  z-index: 2;
}

.no-trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  background: rgba(0,0,0,0.4);
  height: 100%;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

.arrow:focus{
  border:none;
}
.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.categories{
    display:flex;
    width:auto;
    flex-direction:column;
    max-width:1222px;
}