body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Project_Description {
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.project-container {
    width:75%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 100px 100px rgba(7, 114, 164, 0.1);
    margin: auto;
}

.team-info {
    margin:auto;
    text-align: center;
    width:75%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 20px 25px rgba(7, 114, 164, 0.1);
    border-radius:8px;
    margin-bottom:20px;

}