/* pagination.css */

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.page-arrow {
  background-color: #f5c518;
  color: white;
  border: none;
  padding: 4px 6px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.page-arrow:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}


.page-current {
  font-weight: bold;
  font-size: 16px;
  min-width: 50px;
  text-align: center;
  color:white;
}

.page-jump {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

.page-jump input {
  width: 60px;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

.page-jump input:focus {
  outline: none;
  border-color: #f5c518;
  box-shadow: 0 0 5px rgba(229, 9, 20, 0.5);
}

.page-jump button {
  background-color: #f5c518;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}
@media (max-width: 480px) {
  .page-jump input {
    width: 50px;
    font-size: 12px;
  }

  .page-jump button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .page-arrow {
    padding: 6px 10px;
    font-size: 16px;
  }

  .page-current {
    font-size: 14px;
  }
}
